</html>

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/listenForLike.js" defer></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <!-- navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"> <img
                    src="https://www.pngitem.com/pimgs/m/106-1068175_tesla-logo-transparent-tesla-letters-logo-black-hd.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"> <a href="/vehicle/model/Tesla Model 3" class="nav-link">Model 3</a></li>
                    <li class="nav-item"> <a href="/vehicle/model/Tesla Model S" class="nav-link">Model S</a></li>
                    <li class="nav-item"> <a href="/vehicle/model/Tesla Model X" class="nav-link">Model X</a></li>
                    <li class="nav-item"> <a href="/vehicle/model/Tesla Model Y" class="nav-link">Model Y</a></li>
                    <li class="nav-item"> <a href="/like" class="nav-link">❤️</a></li>
                </ul>

            </div>
        </div>
    </nav>