<%- include('header.ejs', {title: "Like List" }) %>

    <div class="container text-center">
        <h1>
            My Favorites
        </h1>
        <p>To be continued</p>

    </div>

    <%- include('footer.ejs') %>